In [3]:
import pandas as pd
import numpy as np

# SERIES - 1dim array of labeled data

In [2]:
pd.Series(['A', 'B', 'C'])

0    A
1    B
2    C
dtype: object

# DATAFRAME  - 2D array of labeled data

In [4]:
df = pd.DataFrame({
    "Name" : ["Olga", "Anna", "Alex"],
    "Color" : ["Red", "Blue", "Green"],
    "Random" : [10.0, np.nan, np.nan]
})

In [5]:
df

   Name  Color  Random
0  Olga    Red    10.0
1  Anna   Blue     NaN
2  Alex  Green     NaN

In [6]:
df["Random"] #returns series

0    10.0
1     NaN
2     NaN
Name: Random, dtype: float64

In [11]:
#CSV file - comma separated values
df.to_csv('data.csv', index=False)

### Exercise 1

In [12]:
fruits = pd.Series([20, 30, 15, 10], index = ['Apples', 'Bananas', 'Cherries', 'Dates'])

In [13]:
fruits

Apples      20
Bananas     30
Cherries    15
Dates       10
dtype: int64

In [25]:
fruit_names = ['Apples', 'Bananas', 'Cherries', 'Dates']
quantities = [20, 30, 15, 10]
colors = ['red', 'yellow', 'red', 'brown']
price = [3,2,4,5]
fruits_df = pd.DataFrame({ 
    'quantity' : quantities,
    'color' : colors,
    'price_kg' : price },
    index = fruit_names )

In [ ]:
df.to_csv('fruits_data.csv')

In [19]:
df = pd.read_csv('data.csv', index_col=0)

In [20]:
df.head() #first 5 rows by default .head(state how many first)

      Color  Random
Name
Olga    Red    10.0
Anna   Blue     NaN
Alex  Green     NaN

In [22]:
df.tail(2) #the last rows

      Color  Random
Name
Anna   Blue     NaN
Alex  Green     NaN

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, Olga to Alex
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Color   3 non-null      object
 1   Random  1 non-null      float64
dtypes: float64(1), object(1)
memory usage: 72.0+ bytes